body{ margin: 0; }

#legend{
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 15px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 8px;
    z-index: 10;
    pointer-events: none;
}

#legend input, #legend label {
    pointer-events: auto;
}

#signature-label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 100;
}